/* for testing purposes to see if logout works */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(336deg, rgba(131, 58, 180, 1) 24%, rgba(253, 29, 29, 1) 39%, rgba(252, 176, 69, 1) 100%);
  padding: 1rem 2rem;
  color: white;
}

.logout-btn {
  background-color: rgba(252, 176, 69, 1);
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
