<div>
  <h2>Reimbursement Details</h2>
  @if (errorMessage()) {
    <p class="form-error">{{ errorMessage() }}</p>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">ID: </div>

    <div class="form-field">
      <label for="amount">Amount:</label>
      <input type="number" id="amount" formControlName="amount" min="0" max="10000" step="0.01" required>
      @if (form.controls.amount.touched && form.controls.amount.invalid) {
        <p class="form-error">Amount cannot be less than 0 or greater than 10000.</p>
      }
    </div>

    <div class="form-field">
      <label for="description">Description:</label>
      <textarea type="text" id="description" formControlName="description" required></textarea>
      @if (form.controls.description.touched && form.controls.description.invalid) {
        <p class="form-error">Description cannot be empty.</p>
      }
    </div>

    <div class="form-field">
      <label for="type">Type:</label>
      <select id="type" formControlName="type">
        <option selected disabled value="">Select Type</option>
        <option value="FOOD">Food</option>
        <option value="LODGING">Lodging</option>
        <option value="TRAVEL">Travel</option>
        <option value="OTHER">Other</option>
      </select>
      @if (form.controls.type.touched && form.controls.type.invalid) {
        <p class="form-error">Please choose a reimbursement type.</p>
      }
    </div>

    <div class="form-field">Status: </div>

    <button type="submit" id="submit">Submit</button>
    <button type="button" id="cancel" (click)="cancelEdits()">Cancel</button>
  </form>
</div>
